.idea/
10_MOST_SIM_MODEL_SCRATCH_1650Low
10_MOST_SIM_MODEL_SCRATCH_1650Up
10_MOST_SIM_MODEL_SCRATCH_DefaultLow
10_MOST_SIM_MODEL_SCRATCH_DefaultUp
10_MOST_SIM_MODEL_SCRATCH_WithStopLow
10_MOST_SIM_MODEL_SCRATCH_WithStopUp
Ausprobieren_Verzeichnis.py
Ausprobieren_Visualize.py
Ausprobobieren_train_word2vec.py
CORP_1650Low
CORP_1650Up
CORP_DefaultLow
CORP_DefaultUp
CORP_WithStopLow
CORP_WithStopUp
LATEX_10_MOST_SIM_MODEL_SCRATCH_1650Low
LATEX_10_MOST_SIM_MODEL_SCRATCH_1650Up
LATEX_10_MOST_SIM_MODEL_SCRATCH_DefaultLow
LATEX_10_MOST_SIM_MODEL_SCRATCH_DefaultUp
LATEX_10_MOST_SIM_MODEL_SCRATCH_WithStopLow
LATEX_10_MOST_SIM_MODEL_SCRATCH_WithStopUp
MODEL_PRETRAINED_1650Low
MODEL_PRETRAINED_1650Low.syn1neg.npy
MODEL_PRETRAINED_1650Low.wv.vectors.npy
MODEL_PRETRAINED_1650Up
MODEL_PRETRAINED_1650Up.syn1neg.npy
MODEL_PRETRAINED_1650Up.wv.vectors.npy
MODEL_PRETRAINED_DefaultLow
MODEL_PRETRAINED_DefaultLow.syn1neg.npy
MODEL_PRETRAINED_DefaultLow.wv.vectors.npy
MODEL_PRETRAINED_DefaultUp
MODEL_PRETRAINED_DefaultUp.syn1neg.npy
MODEL_PRETRAINED_DefaultUp.wv.vectors.npy
MODEL_PRETRAINED_WithStopLow
MODEL_PRETRAINED_WithStopLow.syn1neg.npy
MODEL_PRETRAINED_WithStopLow.wv.vectors.npy
MODEL_PRETRAINED_WithStopUp
MODEL_PRETRAINED_WithStopUp.syn1neg.npy
MODEL_PRETRAINED_WithStopUp.wv.vectors.npy
MODEL_SCRATCH_1650Low
MODEL_SCRATCH_1650Low.syn1neg.npy
MODEL_SCRATCH_1650Low.wv.vectors.npy
MODEL_SCRATCH_1650Up
MODEL_SCRATCH_1650Up.syn1neg.npy
MODEL_SCRATCH_1650Up.wv.vectors.npy
MODEL_SCRATCH_DefaultLow
MODEL_SCRATCH_DefaultLow.syn1neg.npy
MODEL_SCRATCH_DefaultLow.wv.vectors.npy
MODEL_SCRATCH_DefaultUp
MODEL_SCRATCH_DefaultUp.syn1neg.npy
MODEL_SCRATCH_DefaultUp.wv.vectors.npy
MODEL_SCRATCH_WithStopLow
MODEL_SCRATCH_WithStopLow.syn1neg.npy
MODEL_SCRATCH_WithStopLow.wv.vectors.npy
MODEL_SCRATCH_WithStopUp
MODEL_SCRATCH_WithStopUp.syn1neg.npy
MODEL_SCRATCH_WithStopUp.wv.vectors.npy
Testcorpus
Verworfen_Verzeichnis.py
__pycache__/
venv/
verworfen_train_word2vec.py
german.model

